@tailwind base;
@tailwind components;
@tailwind utilities;

#teste{
    font-size: 55px;
    font-weight: bold;
    color: rgba(0, 173, 181, 1);
    
}
#teste2{
    font-size: 44px;
    color: black;
}

#navbar-background{
    background-color: rgba(30, 19, 90, 1);
}

#navbar-logo{
    width: 37px;
    height: 37px;
    margin: 8px;
}

#header-texto1{
    font-size: 12px;
    padding-left: 10px;
    background-color: rgb(255,250,250);
    width: 450px;
    border-radius: 15px;
}
#header-texto1:hover{
    background-color: #00ADB5;
}

#header-button{
    background-color: #00ADB5;
}
#header-button:hover{
    background-color:  rgba(30, 19, 90, 1);
}